html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background: #f5f5f5;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-wrapper {
    /*position: fixed !important;*/
}

.navbar-wrapper .navbar {
    opacity: 0.85;
}

.navbar .navbar-header a{
    color: yellow;
}

.slider-caption-wrapper {
    opacity: 0.75;
    background: #000000;
    min-width: 50px;
    display: inline-block;
    padding: 0 10px;
}

.inner-title {
    background: #000000;
    opacity: 0.75;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    color: yellow;
    font-size: 18px;
    margin-bottom: 20px;
}
.wrap > .container {
    padding-top: 0px !important;
}

.dark-wrap {
    background: #000000;
    opacity: 0.75;
    padding: 15px;
    border-radius: 5px;
    color: #d7d7d7;
}
.light-wrap {
    background: #ffffff;
    opacity: 0.75;
    padding: 15px;
    border-radius: 0 5px 5px 5px;
    color: #d7d7d7;
    margin-top: 20px;
    color: #000000;
}
#site-about,
#site-services,
#site-contact,
#site-photo,
#site-feedback {
    padding: 35px;
    min-height: 500px;
    width: 100%;
    box-shadow: inset 0px 10px 20px -10px #000000;
}

#site-about {
    background: url("/images/textura1.png") repeat;
}
#site-about .picture-wrapper img {
    width: 552px;
    height: 310px;
    box-shadow: 0px 0px 20px 2px #000000;
}
#site-services {
    /*background: #f5f5f5;*/
    background: url("/images/textura2.png") repeat;
}
button.book-car-wash {
    margin-top: 40px;
}
#site-contact {
    background: url("/images/textura3.png") repeat;
}
#site-photo {
    background: url("/images/textura4.png") repeat;
}
#site-feedback {
    background: url("/images/textura5.png") repeat;
}
.yellow {
    color: yellow;
}
.nomargin {
    margin-top: 0px;
}
.picture-description {
    margin-top: 15px;
    color: #000000;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 0 2px #d2d2d2;
    font-weight: bolder;
}
.weather {
    text-align: center;
}
#photoCarousel {
    box-shadow: 0px 0px 20px 2px #000000;
}
#site-discount {
    margin-top: 35px;
}
.service-cost {
    margin-right: 25px;
    margin-left: 5px;
}
.footer {
    background: #121212;
    color: #fff;
    font-weight: 700;
    border-top-color: #121212 !important;
    box-shadow: 0px 0px 20px 2px #121212;
    min-height: 250px;
}
.footer-menu ul li a:hover {
    background: #1a1a1a;
}

#modal h1 {
    margin-top: 0;
}
#modal .modal-header {
    border-bottom: 0;
}
